.container22 {
    /* border: 1px solid black; */
    /* height: auto; */
    float: left;
    margin-left: 10px;
    width: 310px;
    padding: 20px;
    height: 1000px;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
     /* Hide scrollbars */
}

.card-img-top {
    width: 240px;
    padding-top: 10px;
}


.container22::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .container22 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }